.admin-layout{
    display: flex;
    width: 100vw;
    background-color: white;
}
.main-content{
    flex:6;
    float: right;
    margin-left: 220px;
    min-height: 1200px;
    height: 100vh;
    background-color: white;
}

.notify{
    width: 100vw;
    height:auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
