.notify_container {
    position: absolute;
    top: -5px;
    right: -5px;

    .counter {
        width: 15px;
        height: 15px;
        background-color: red;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: bold;
    }

    .notify {
        width: 300px;
        min-height: 90px;
        background-color: white;
        margin-top: 40px;
        border-radius: 10px;
        border-top-right-radius: 0;
        padding: 8px;
        display: none;
    }

    .notify_item {
        display: flex;
        width: 95%;
        margin: 10px auto;
       align-items: center;
       background-color: rgb(108, 164, 206);
       border-left: 10px rgb(44, 117, 173) solid ;
       padding: 5px;
       border-radius: 4px;
    }
}


.notify_container:hover .notify {
    display: block; 
}
