

.employee-product-container {
    width: 98%;
    padding: 20px;
    background-color: #ffff;
    border-radius: 20px;
    margin: 20px auto;
   
    .employee_product_list{
        min-width:80%;
        display: flex;
       flex-wrap: wrap;
       min-height: 800px;
       margin: 10px auto;
    }
}
.employee-product-detail{
    width: 100%;
    margin-top: 60px;
    height: auto;
    background-color: #ffff;
}
