

.employee-product-container {
    width: 98%;
    padding: 20px;
    background-color: #d74b4b;
    border-radius: 20px;
    margin: 20px auto;
    margin-top: 90px;
    height: 1000px;
    .employee_product_list{
        min-width:80%;
        display: flex;
       flex-wrap: wrap;
       min-height: 800px;
       margin: 10px auto;
    }
}

