.alter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    min-width: 400px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;         // Cho phép cố định vị trí trên màn hình
    top: 20px;               // Khoảng cách từ trên xuống
    right: 20px;             // Khoảng cách từ bên phải vào
    z-index: 9999;           // Đảm bảo nó nằm trên các thành phần khác
    transition: all 0.3s ease-in-out; // Hiệu ứng mượt khi hiện/ẩn alert
    .alter__message {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    .alter__button {
        width: 40px;
        height: 40px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        color: #ffffff;
        border-radius: 10px;
    }
}

// Alert types
.infor {
    background-color: #d1ecf1;
    color: #0c5460;
    border-left: 5px solid #17a2b8;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border-left: 5px solid #28a745;
}

.danger {
    background-color: #f8d7da;
    color: #721c24;
    border-left: 5px solid #dc3545;
}

.warning {
    background-color: #fff3cd;
    color: #856404;
    border-left: 15px solid #ffc107;
   .alter__message:before {
        content: '\26a0';  // Warning icon (⚠️)
        color: #ffc107;
        font-size: 25px;
        font-weight: 600;
        
    }
    .alter__button {
        background:   #ffc107;
        color: #856404;
    }
}


.infor .alter__message:before {
    content: '\2139';  // Info icon (ℹ️)
    color: #17a2b8;
}
.success .alter__message:before {
    content: '\2713';  // Success checkmark (✔️)
    color: #28a745;
}
.danger .alter__message:before {
    content: '\2716';  // Danger cross (✖️)
    color: #dc3545;
}

